.hero
{
    height: 100vh;
    background: url(../img/latar_3.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:start;
}
.hero-konten
{
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 20px;
}
.hero h2
{
    font-size: 3rem;
    margin-bottom: 15px;
}
.gradient-text
{
    background: radial-gradient(circle, #ffcc00, #ff6600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(255, 204, 0, 0.2),
    0px 0px 20px rgba(255, 102, 0, 0.2);
}
.hero p
{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color:#ffaa00;
}
.hero button
{
    background: #ffcc00;
    color: #000;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.hero button:hover
{
    background: #ffaa00;
}